# 4.3: Intro to Pandas

## Contents

### 01. Importing Libraries and Data

### 02. Python Data Structures: Lists

### 03. Exploring Data

# Script

### 01. Importing Libraries and Data

In [5]:
# Import libraries 
import pandas as pd
import numpy as np
import os

In [6]:
#Import the data and created dataframe
df = pd.read_csv(r'C:\Users\tinar\OneDrive\Dokumente\00 DATA ANALYST Carrer Foundry\04 Immersion Course\4. Python Fundamentals for Data Analysts\2209 Instacart Basket Analysis\02 Data\01 Original Data\4.3_orders_products\orders.csv', index_col = False)

In [7]:
path = r'C:\Users\tinar\OneDrive\Dokumente\00 DATA ANALYST Carrer Foundry\04 Immersion Course\4. Python Fundamentals for Data Analysts\2209 Instacart Basket Analysis'

### 02. Python Data Structures: Lists

In [8]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [9]:
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [10]:
df = pd.read_csv(os.path.join(path,'02 Data','01 Original Data', '4.3_orders_products', 'orders.csv'), usecols = vars_list)

In [11]:
df.head(5)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [12]:
#Import the data and created dataframe
df_prods = pd.read_csv(r'C:\Users\tinar\OneDrive\Dokumente\00 DATA ANALYST Carrer Foundry\04 Immersion Course\4. Python Fundamentals for Data Analysts\2209 Instacart Basket Analysis\02 Data\01 Original Data\4.3_orders_products\products.csv', index_col = False)

In [13]:
path = r'C:\Users\tinar\OneDrive\Dokumente\00 DATA ANALYST Carrer Foundry\04 Immersion Course\4. Python Fundamentals for Data Analysts\2209 Instacart Basket Analysis'

### 03. Exploring Data

In [15]:
df_prods.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [16]:
df_prods.tail(35)

,product_id,product_name,aisle_id,department_id,prices
49658,49654,"Teriyaki Sauce, Sesame, Original",5,13,4.0
49659,49655,Apple Cider,98,7,10.7
49660,49656,Masada Kosher Pocket Bread,128,3,7.1
49661,49657,Cabernet Tomatoes,83,4,8.3
49662,49658,Brie with Herbs Foil Wedge,2,16,3.9
49663,49659,Organic Creamed Coconut,17,13,3.1
49664,49660,Professionals Sleek Shampoo,22,11,6.7
49665,49661,Porto,134,5,8.2
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2
49668,49664,Lemon Cayenne Drinking Vinegar,100,21,13.7
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49671,49667,Enchilada with Spanish Rice & Beans Meal,38,1,6.6
49672,49668,Apple Cinnamon Scented Candles,101,17,5.6
49673,49669,K Cup Dark Blend,100,21,4.7
49674,49670,Beef Summer Sausage,106,12,19.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49677,49673,Stone Baked Multi Grain Artisan Rolls,129,1,5.6
49678,49674,Frozen Greek Yogurt Bars Chocolate Chip,37,1,11.1
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49681,49677,Thick & Chunky Sloppy Joe Sauce,59,15,8.9
49682,49678,Large Chicken & Cheese Taquitos,129,1,3.4
49683,49679,Famous Chocolate Wafers,61,19,6.0
49684,49680,All Natural Creamy Caesar Dressing,89,13,4.9
49685,49681,Spaghetti with Meatballs and Sauce Meal,38,1,6.9
49686,49682,California Limeade,98,7,4.3
49687,49683,Cucumber Kirby,83,4,13.2
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [18]:
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [20]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [22]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

11A: Max value of aisle id is 134.000000

In [24]:
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

11b: The department id column is the data type int64